
.contentSpecific{
    position: absolute;
    left: 50%;    
    transform: translate( -50%);
    margin-top: 100px;
}
.row{
    display: flex;    
}
.firstCol{
    color: rgb(231, 224, 224);
    margin: 0;
}
.secondCol{
    color: rgb(231, 224, 224);
}
.topBox{
    margin-bottom: 3em;
}
.lineSeperator{
    border: 2px solid  rgb(231, 224, 224);
    border-radius: 5px;
}
.alignleft{
    text-align: left;
    margin: 0;
}
.alignright{
    text-align: right;
}
.star{
    height: 1.5em;
    display: inline-block;
}