p{
    color: #dfd5d5;
    margin: 20px;
}
.gif{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 300px;
}
.gif:active{
    visibility: hidden;
}
.gif:hover{
    visibility: hidden;
}
.smily{
    height: 40em;
}