hr{
    background-color: #dfd5d5;
}
.aboutContent{
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 10vh;
    font-family: 'Open Sans Condensed', sans-serif;
}
.paragraphs{
    margin-left: 0;    
    font-family: 'Open Sans Condensed', sans-serif;
}
.accent{
    color: red;
}
.headline{
    font-family: 'Amatic SC', cursive; 
}