.logo{
    text-align: center;
}
.AmaticSCFont{
    font-family: 'Amatic SC', cursive;     
    font-size: 80px;
    margin: 0;
}
@media screen and (min-width: 320px) {
    .AmaticSCFont {
      font-size: calc(45px + 6 * ((100vw - 320px) / 680));    
    }
  }
  
  @media screen and (min-width: 1000px) {
    .AmaticSCFont {
      font-size: 80px;
    }
  }
.OpenSansCondensedFontHome{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 100;
    font-size: medium;
    margin: 0;
}