img.bg {
    /* Set rules to fill background */
    min-height: 200px;
    min-width: 100%;
      
    max-height: 800px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: relative;
    top: 63px;
    left: 0;
  }