div.navigation{
    position: relative;
    right: 0;
    margin: 20px;
}
.navLink{
    color: #dfd5d5;;
    font-size: large;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 100;
}