.sillyContent{
    height: 100vh;
    margin: 8em;
}
.gif{
    position: fixed;
    bottom: 0;
    right: 0;
    height: 300px;
}
.gif:active{
    visibility: hidden;
}
.gif:hover{
    visibility: hidden;
}