.container{
    text-align: center;
    margin-top: 18vh;
}
.gif{
    position: fixed;
    bottom: 0;
    right: 0;
    height: 300px;
}
.gif:active{
    visibility: hidden;
}
.gif:hover{
    visibility: hidden;
}
.innerContainer{
    display: inline-block;
}
.btn{
    margin-top: 3vh;
}